header {
	margin: 0 auto;
	width: 80%;
	height: 50px;
	background: #7C97AC;
}

.dropdown {
	float: right;
	right: 20px;
    top: 5px;
}

.btn {
	padding: .375rem 2.2rem;
	border-radius: 1.25rem;
}

.btn-secondary {
    color: #fff;
    background-color: #2C465A;
    border-color: #2C465A;
}

.row {
	margin: 20px auto;
	width: 80%;
}

.nameProduct {
	text-align: center;
}

.img-thumbnail {
	border: none;
}

.productPrice {
	font-size: 28px;
}

.fas {
    font-size: 22px;
}

.price {
	float: left;
}

.btn {
    float: right;
}

.mt-3 {
    margin-top: 4px!important;
}

.btn-success {
    color: #fff;
    background-color: #2C465A;
    border-color: #2C465A;
}

.btn-success:hover {
    background-color: #7C97AC;
    border-color: #7C97AC;
}

.dropdown-menu.show {
    padding: 0;
}

.table {
	margin-bottom: 0;
}

.table thead th {
    border-bottom: 0;
    font-weight: 600;
}

td .fas {
	font-size: 14px;
}